{% comment %}
  Renders Scotland icon text PDP block.

  Accepts:
  - block: {Object}
{% endcomment %}

{%- liquid
  assign item_count = 0
  for i in (1..4)
    assign heading_key = 'item_' | append: i | append: '_heading'
    assign text_key = 'item_' | append: i | append: '_text'
    if block.settings[heading_key] != blank or block.settings[text_key] != blank
      assign item_count = item_count | plus: 1
    endif
  endfor
-%}

{%- if item_count > 0 -%}
  {{ 'component-scotland-icon-text-pdp.css' | asset_url | stylesheet_tag }}

  <div
    class="scotland-icon-text-pdp"
    {{ block.shopify_attributes }}
    style="--scotland-icon-text-pdp-icon-size: {{ block.settings.icon_size }}px; --scotland-icon-text-pdp-icon-color: {{ block.settings.icon_color }}; --scotland-icon-text-pdp-heading-color: {{ block.settings.heading_color }}; --scotland-icon-text-pdp-text-color: {{ block.settings.text_color }}; --scotland-icon-text-pdp-gap: {{ block.settings.item_gap }}px;"
  >
    <ul class="scotland-icon-text-pdp__list list-unstyled">
      {%- for i in (1..4) -%}
        {%- liquid
          assign icon_key = 'item_' | append: i | append: '_icon'
          assign custom_icon_key = 'item_' | append: i | append: '_custom_icon'
          assign heading_key = 'item_' | append: i | append: '_heading'
          assign text_key = 'item_' | append: i | append: '_text'
          assign link_key = 'item_' | append: i | append: '_link'
          assign item_icon = block.settings[icon_key]
          assign item_custom_icon = block.settings[custom_icon_key]
          assign item_heading = block.settings[heading_key]
          assign item_text = block.settings[text_key]
          assign item_link = block.settings[link_key]
        -%}
        {% render 'scotland-icon-text-pdp-item',
          icon: item_icon,
          custom_icon: item_custom_icon,
          heading: item_heading,
          text: item_text,
          link: item_link
        %}
      {%- endfor -%}
    </ul>
  </div>
{%- endif -%}
